:root {
    --fundo: #333229;
    --laranja: rgb(245, 90, 42);
    --claro: #eae8db;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--fundo);
    font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--claro);
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card {
    background: var(--laranja);
    width: min(520px, 86%);
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
    padding: 2.4rem 1.8rem;
}

.card-inner {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

.logo {
    font-weight: 800;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 0.35rem;
    color: var(--claro);
}

.logo span {
    color: var(--fundo);
}

h2 {
    text-align: center;
    margin: 0 0 1.1rem 0;
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--claro);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: block;
    font-size: 0.72rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
    color: var(--claro);
    letter-spacing: 0.02em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background: var(--claro);
    color: #222;
    font-size: 0.95rem;
    outline: none;
}

input::placeholder {
    color: #9d9d9d;
}

.btn-primary {
    width: 100%;
    background: var(--fundo);
    color: var(--claro);
    border: 0;
    padding: 10px 14px;
    border-radius: 24px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-secondary {
    width: 100%;
    background: transparent;
    color: var(--claro);
    border: 2px solid var(--claro);
    padding: 9px 14px;
    border-radius: 24px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

}

.btn-secondary:hover {
    background: var(--claro);
    color: var(--laranja);

}

/* --- LINK "ESQUECI MINHA SENHA" --- */
.forgot-link {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--claro);
    display: block;
    transition: color 0.3s, text-decoration 0.3s;
}

.forgot-link:hover {
    text-decoration: underline;
    color: var(--fundo);
}